/*menu*/
.menunavbar {
    background-color:rgb(223, 180, 197);
    text-align: center;
    border: none;
    padding-top: 3vh;
}
.menunavbar li a {
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 20px 18px;
    text-decoration: none;
    line-height: 1.2rem;
}

/*SECTION*/
#section_1,#section_3, #section_5, #listeEleve{
    background-color: rgb(180, 182, 182);
}
section {
    padding: 120px 0px;
}

.section_1 {
    height: 486px;
    background-position: center;
    text-align: center;
    padding: 0px;
    background-size: cover;
}